<h1 class='title'>PRODUCT</h1>

{{#if isAdmin}}
  <div class='container'>
    <h1>ADD PRODUCT</h1>
    <form id='form-product' method='post'>
      <input type='text' name='title' id='title' placeholder='Title' />
      <input type='text' name='description' id='description' placeholder='Description' />
      <input type='text' name='category' id='category' placeholder='category' />
      <input type='text' name='price' id='price' placeholder='Price' />
      <input type='text' name='thumbnail' id='thumbnail' placeholder='Thumbnail' />
      <input type='text' name='code' id='code' placeholder='Code' />
      <input type='text' name='stock' id='stock' placeholder='Stock' />
      <button type='submit'>Send</button>
    </form>
  </div>
{{else}}
  <div>
    <ul class='product-single'>
      <li class='product-item'>title: {{title}}</li>
      <li class='product-item'>description: {{description}}</li>
      <li class='product-item'>category: {{category}}</li>
      <li class='product-item'>price: {{price}}</li>
      <li class='product-item'>status: {{status}}</li>
      <li class='product-item'>thumbnail: {{thumbnail}}</li>
      <li class='product-item'>code: {{code}}</li>
      <li class='product-item'>stock: {{stock}}</li>
      <li class='button-item'>
        <button class='addCart-button' id='product-button' data-id='{{_id}}'>Add To Cart</button>
      </li>
    </ul>
  </div>
{{/if}}
<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>